extends layout

block content
  div(class='panel-body')
    a(href='/' class="col-sm-1")
      img(src="./images/home.png" height="25" width="25" alt='Inicio' class="img-responsive")
    p Alumnos
  div(class="well")
    table(class="table")
      tr
        th ID
        th NOMBRE
        th APELLIDO
        th EMAIL
        th
        each alumno, i in listaAlumnos
          tr
            td #{alumno.id}
            td #{alumno.nombre}
            td #{alumno.apellido}
            td #{alumno.email}
            td
              form(method="POST")
                button(type="submit", class='btn btn-success', value='#{alumno._id}', name='_id') Modificar