extends layout

block content
    div(class="form-group")
      label(for="id") ID
      input(value='#{alumno.id}', id="id", class="form-control", type="number", require)
    div(class="form-group")
      label(for="nombre") NOMBRE
      input(value='#{alumno.nombre}', id="nombre", class="form-control", type="text", require)
    div(class="form-group")
      label(for="apellido") APELLIDO
      input(value='#{alumno.apellido}', id="apellido", class="form-control", type="text", require)
    div(class="form-group")
      label(for="email") EMAIL
      input(value='#{alumno.email}', id="email", class="form-control", type="email", require)
    div(class="form-group")
      button(value='#{alumno._id}', class='btn btn-default', onclick='alumnoPut()', id="_id") ENVIAR